img.normal{
  float: left;
  width: 377px;
  height: 377px;
}
img.alta{
  float: left;
  width: 420px;
  height: 300px;
}
h1{
  border-bottom-style: inset;
}
pre{
  font-size: 1.2em;
}
.fonteAzul{
  color: blue;
}
.oculta{
  display: none;
}
.exibe{
  display: inline;
}
.italico{
  font-style: italic;
}