/*configracoes de reset*/
* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}


/*configuracoes de variaveis*/
:root {
  --cor-secundaria: white;
  --cor-primaria: rgb(238, 19, 19);
}



/*configuracoes cabecalho*/
header {
  background-color: var(--cor-primaria);
}

header h1 {
  text-align: center;
  color: var(--cor-secundaria);
  text-transform: uppercase;
}

header nav {
  text-align: center;
}

header a {
  margin-left: 10px;
  margin-right: 10px;
  text-transform: capitalize;
  color: var(--cor-secundaria);
}


/*configuracoes do rodape*/
footer {
  background-color: var(--cor-primaria);
  text-align: center;
  padding-top: 10px;
}

footer .redesSociais a {
  color: var(--cor-secundaria);
  margin-left: 10px;
  margin-right: 10px;
  text-transform: capitalize;
}
footer .bi{
  font-size: 2.5rem;
}


/*configuracoes pagina inicial*/
.inicial {
  
}
.inicial h1{
  filter: blur(6px);
}
.inicial h1:hover{
  filter: blur(0);
  transition: 1.5s;
}